﻿@model Dashboard.Models.HistoryViewModel
@{
    ViewData["Title"] = "Test Results";
}

<!-- Begin Page Content -->
<!-- Page Heading -->
<h2 class="h2 mt-4 mb-2 ml-4 text-gray-800">Builds</h2>

<!-- Table -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <ul class="navbar-nav mb-1">
            <li class="nav-item dropdown">
                <b class="navbar-brand dropdown-toggle" id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    @Model.selectedLabel
                </b>
                <div class="dropdown-menu dropdown-menu-right animated--fade-in"
                     aria-labelledby="navbarDropdown">
                    @foreach (LabelModel label in Model.labels)
                    {
                        <a class="dropdown-item"
                           asp-controller="Dashboard"
                           asp-route-group="@label.ID"
                           asp-action="Build">@label.name</a>
                    }
                </div>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Row</th>
                        <th>Sequence Name</th>
                        <th>Test Name</th>
                        <th>Win64</th>
                        <th>Lnx</th>
                        <th>Details</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Row</th>
                        <th>Sequence Name</th>
                        <th>Test Name</th>
                        <th>Win64</th>
                        <th>Lnx</th>
                        <th>Details</th>
                        <th>Date</th>
                    </tr>
                </tfoot>
                <tbody>
                    @{
                        long currentRow = 0;
                        foreach (TestHistoryModel tableRow in Model.history)
                        {
                            currentRow++;
                            <tr>
                                <th>@currentRow</th>
                                <th>@tableRow.sequence</th>
                                <th>@tableRow.test</th>
                                @if (tableRow.platform.Equals("win64"))
                                {
                                    <th>@tableRow.status</th>
                                    <th></th>
                                }
                                else
                                {
                                    <th></th>
                                    <th>@tableRow.status</th>
                                }
                                <th>*insert button here*</th>
                                <th>@tableRow.date.ToShortDateString()</th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
<!-- End of Main Content -->
