﻿@model Dashboard.Models.ResultViewModel

@{
    ViewData["Title"] = "Test Results";
}


<!-- scripts -->
<script src="~/lib/js/demo/chart-pie-demo.js"></script>

<!-- Begin Page Content -->
<!-- Page Heading -->
<h2 class="h2 mt-4 mb-2 ml-4 text-gray-800">
    Test Results
</h2>

<!-- Content Row -->
<div class="row">

    <!-- Selection Panel -->
    <div class="col-lg-6 width-constraint" style="max-width: 550px">

        <div class="card position-relative">

            <div class="card-body">

                <!-- First Selection Group-->
                <div class="medium ml-3">Development Area</div>
                <nav class="navbar navbar-expand navbar-light bg-light flex-column align-items-start mb-3">

                    <!-- Dropdown -->
                    <ul class="navbar-nav mb-1">
                        <li class="nav-item dropdown">
                            <b class="navbar-brand dropdown-toggle" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                @Model.GetSelectedLabel(SqliteDataAccess.LabelType.DevelopmentArea).name
                            </b>
                            <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                 aria-labelledby="navbarDropdown">
                                @foreach (LabelModel label in Model.LabelLists[SqliteDataAccess.LabelType.DevelopmentArea])
                                {
                                    <a class="dropdown-item"
                                       asp-controller="Dashboard"
                                       asp-route-devArea="@label.ID"
                                       asp-route-group="@Model.GetSelectedLabel(SqliteDataAccess.LabelType.Group).ID"
                                       asp-route-ip="@Model.GetSelectedLabel(SqliteDataAccess.LabelType.Ip).ID"
                                       asp-route-view="@Model.GetSelectedLabel(SqliteDataAccess.LabelType.View).ID"
                                       asp-action="Results">@label.name</a>
                                }
                            </div>
                        </li>
                    </ul>
                </nav>

                <!-- Second Selection Group -->
                <div class="medium ml-3">Test Run</div>
                <nav class="navbar navbar-expand navbar-light bg-light">
                    <div class="navbar-brand">IP</div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <b class="navbar-brand dropdown-toggle" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                @Model.GetSelectedLabel(SqliteDataAccess.LabelType.Ip).name
                            </b>
                            <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                 aria-labelledby="navbarDropdown">
                                @foreach (LabelModel label in Model.LabelLists[SqliteDataAccess.LabelType.Ip])
                                {
                                    <a class="dropdown-item"
                                       asp-controller="Dashboard"
                                       asp-route-devArea="@Model.GetSelectedLabel(SqliteDataAccess.LabelType.DevelopmentArea).ID"
                                       asp-route-group="@Model.GetSelectedLabel(SqliteDataAccess.LabelType.Group).ID"
                                       asp-route-ip="@label.ID"
                                       asp-route-view="@Model.GetSelectedLabel(SqliteDataAccess.LabelType.View).ID"
                                       asp-action="Results">@label.name</a>
                                }
                            </div>
                        </li>
                    </ul>
                </nav>
                <nav class="navbar navbar-expand navbar-light bg-light mb-3">
                    <div class="navbar-brand">Group</div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <b class="navbar-brand dropdown-toggle" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                @Model.GetSelectedLabel(SqliteDataAccess.LabelType.Group).name
                            </b>
                            <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                 aria-labelledby="navbarDropdown">
                                @foreach (LabelModel label in Model.LabelLists[SqliteDataAccess.LabelType.Group])
                                {
                                    <a class="dropdown-item"
                                       asp-controller="Dashboard"
                                       asp-route-devArea="@Model.GetSelectedLabel(SqliteDataAccess.LabelType.DevelopmentArea).ID"
                                       asp-route-group="@label.ID"
                                       asp-route-ip="@Model.GetSelectedLabel(SqliteDataAccess.LabelType.Ip).ID"
                                       asp-route-view="@Model.GetSelectedLabel(SqliteDataAccess.LabelType.View).ID"
                                       asp-action="Results">@label.name</a>
                                }
                            </div>
                        </li>
                    </ul>
                </nav>

                <!-- Third Selection Group -->
                <div class="medium ml-3">Views</div>
                <nav class="navbar navbar-expand navbar-light bg-light mb-3 flex-column align-items-start">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <b class="navbar-brand dropdown-toggle" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                @Model.GetSelectedLabel(SqliteDataAccess.LabelType.View).name
                            </b>
                            <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                 aria-labelledby="navbarDropdown">
                                @foreach (LabelModel label in Model.LabelLists[SqliteDataAccess.LabelType.View])
                                {
                                    <a class="dropdown-item"
                                       asp-controller="Dashboard"
                                       asp-route-devArea="@Model.GetSelectedLabel(SqliteDataAccess.LabelType.DevelopmentArea).ID"
                                       asp-route-group="@Model.GetSelectedLabel(SqliteDataAccess.LabelType.Group).ID"
                                       asp-route-ip="@Model.GetSelectedLabel(SqliteDataAccess.LabelType.Ip).ID"
                                       asp-route-view="@label.ID"
                                       asp-action="Results">@label.name</a>
                                }
                            </div>
                        </li>
                    </ul>
                    <div class="text-center">
                        <a class="small" href="results.html">Add / Modify views</a>
                    </div>
                </nav>

                <!-- Download -->
                <a class="small ml-1" href="results.html">Download List</a>

            </div>
        </div>
    </div>
    <!-- End Selection Panel -->
    <!-- Data visualisation -->
    <div class="col-lg-6 width-constraint" style="min-width: 600px">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-column align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@Model.GetSelectedLabel(SqliteDataAccess.LabelType.DevelopmentArea).name Data Sumary</h6>
                <p class="m-0 text-primary">(@Model.LastUpdated - last updated)</p>
            </div>
            <!-- Card Body -->
            <div class="card-body d-flex flex-column align-items-center justify-content-between">

                <!-- Charts -->
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <!-- First Chart -->
                    <div>
                        <p class="text-center">Unique Tests Across Platforms</p>
                        <div class="chart-pie pt-4 pb-2">
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="chartAllTests" width="296" height="245" class="chartjs-render-monitor" style="display: block; width: 296px; height: 245px;"></canvas>
                            <script language="javascript">
                                var passed = @Model.OverallResults.passed
                                var failed = @Model.OverallResults.failed
                                var regressed = @Model.OverallResults.regressed
                                loadDonutChart("chartAllTests", regressed, failed, passed+3)
                            </script>
                        </div>
                    </div>

                    <!-- Second Chart -->
                    <div>
                        <p class="text-center">Across Win64EXT</p>
                        <div class="chart-pie pt-4 pb-2">
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="chartSpecificPlatform" width="296" height="245" class="chartjs-render-monitor" style="display: block; width: 296px; height: 245px;"></canvas>
                            <script language="javascript">
                                var passed = @Model.WinResults.passed
                                var failed = @Model.WinResults.failed
                                var regressed = @Model.WinResults.regressed
                                loadDonutChart("chartSpecificPlatform", regressed, failed, passed)
                            </script>
                        </div>
                    </div>
                </div>

                <!-- Chart Legend -->
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-danger"></i> Regression
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-warning"></i> Failed
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Passed
                    </span>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- End Of First Row -->
<!-- Table -->
<div class="card shadow mt-3 mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Failed Tests</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Row</th>
                        <th>Sequence Name</th>
                        <th>Test Name</th>
                        <th>Win64</th>
                        <th>Lnx</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Row</th>
                        <th>Sequence Name</th>
                        <th>Test Name</th>
                        <th>Win64</th>
                        <th>Lnx</th>
                        <th>Details</th>
                    </tr>
                </tfoot>
                <tbody>
                    @{
                        long currentRow = 0;
                        foreach (SequenceModel sequence in Model.Sequences)
                            foreach (TestModel test in sequence.Tests)
                            {
                                currentRow++;
                                <tr>
                                    <th>@currentRow</th>
                                    <th>@sequence.name</th>
                                    <th>@test.name</th>
                                    <th>@test.currentWinStatus</th>
                                    <th>@test.currentLnxStatus</th>
                                    <th>*insert button here*</th>
                                </tr>
                            }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
