﻿@model Dashboard.Models.TeamViewModel
@{
    ViewData["Title"] = "Results";
}

<!-- Scripts -->
<script src="~/lib/js/demo/chart-bar-demo.js"></script>

<!-- Begin Page Content -->
<!-- Page Heading -->
<h2 class="h2 mt-4 mb-2 ml-4 text-gray-800">
    Teams
</h2>

<!-- Content Row -->
<div class="row">
    <div class="col width-constraint">

        <!-- Bar Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <ul class="navbar-nav mb-1">
                    <li class="nav-item dropdown">
                        <b class="navbar-brand dropdown-toggle" id="navbarDropdown"
                           role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            @Model.selectedLabel
                        </b>
                        <div class="dropdown-menu dropdown-menu-right animated--fade-in"
                             aria-labelledby="navbarDropdown">
                            @foreach (LabelModel label in Model.labels)
                            {
                                <a class="dropdown-item"
                                   asp-controller="Dashboard"
                                   asp-route-ip="@label.ID"
                                   asp-action="Team">@label.name</a>
                            }
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="chartTeamHistory"></canvas>
                    @{
                        <script>var labels = [];</script>

                        // the string array doesn't come out fine when using the jsSerializer
                        // therefore we have to use a for loop
                        for (int i = 0; i < @Model.Data.labels.Length; i++)
                        {
                            <script> labels[@i] = '@Model.Data.labels[i]'; </script>
                        }
                    }
                    <script>
                        var passed = @Model.jsSerializer.Serialize(@Model.Data.passed)
                        var failed = @Model.jsSerializer.Serialize(@Model.Data.failed)
                        var maxValue = @Model.jsSerializer.Serialize(@Model.Data.maxValue)

                        loadBarChart("chartTeamHistory", labels, passed, failed, maxValue)
                    </script>
                </div>
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Passed
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-warning"></i> Failed
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Table -->
<div class="card shadow mt-3 mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Failed Tests</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Row</th>
                        <th>Sequence Name</th>
                        <th>Test Name</th>
                        <th>Win64</th>
                        <th>Lnx</th>
                        <th>Details</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Row</th>
                        <th>Sequence Name</th>
                        <th>Test Name</th>
                        <th>Win64</th>
                        <th>Lnx</th>
                        <th>Details</th>
                        <th>Date</th>
                    </tr>
                </tfoot>
                <tbody>
                    @{
                        long currentRow = 0;
                        foreach (TestHistoryModel tableRow in Model.history)
                        {
                            currentRow++;
                                        <tr>
                                            <th>@currentRow</th>
                                            <th>@tableRow.sequence</th>
                                            <th>@tableRow.test</th>
                                        @if (tableRow.platform.Equals("win64"))
                                        {
                                            <th>@tableRow.status</th>
                                            <th></th>
                                        }
                                        else
                                        {
                                            <th></th>
                                            <th>@tableRow.status</th>
                                        }
                                            <th>*insert button here*</th>
                                            <th>@tableRow.date.ToShortDateString()</th>
                                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
